@font-face {
  font-family: 'Merriweather Sans', sans-serif; ;
  src: url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
}

body {
    background-image: url(pizza.jpg);
    margin-top: 0px;
    padding: 0px;
  }

  .text {
    color: black;
    font-size: 20px;
  }
  
  .alert {
    text-transform: uppercase;
    padding-block: 15px;
    color: rgb(104, 104, 104);
    background: rgba(255, 255, 255, 0.755);
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
  }
  
  .container {
    max-width: 1200px; 
    margin: 0 auto;
  }  
  
  .datos{
    margin-top: 30px;
    text-align: center;
  } 